@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}
body{
    margin: 0px;
    line-height: 1.5;
    font-family: "Monaco";
    font-weight: 400;
    background-color: #f3f2f1;
}

a {
    text-decoration: none;
}

:before, :after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

.container{
    max-width: 1140px;
    margin: auto;
}

#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #dd666c;
    z-index: 11000;
    position: fixed;
    display: block;
}

.pulse {
  height: 150px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse linear infinite;
  animation: 2s pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
}
.pulse:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;

}


@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4;
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
}
@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
     opacity:1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
     opacity:0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity:0;
 }
  
}

.pulse {
	text-align : center;
}
.pulse i{
	color: #ffffff;
	font-size: 38px;
}



header, section, footer {
    display: block;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
    height: 10vh;
}

.align-items-center{
    align-items: center;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 45px;
    color: #000;
    font-weight: 700;
    font-family: 'Vibur', cursive;
    letter-spacing: 2px;
    margin: 0;
}

/* HEADER */
.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease ;
}

.fixed{
    position: fixed;
    background-color: #F3F2F1;
    box-shadow: 0 0 8px #cccccc;
}

.header .logo{
    padding: 0 15px;
}



.header .logo a {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Vibur', cursive;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.header.fixed .logo a{
    color:black;
}

.header .nav{
    padding: 0 15px;

}

.header .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header .nav ul li {
    display: inline-block;
    margin-left: 15px;
}
.header .nav ul li a {
    display: block;
    padding:15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.header.fixed .nav ul li a{
    color: #555555;
}


.header .hamburger-btn {
    display: inline-block;
    height: 34px;
    width: 40px;
    border-radius: 3px;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
}

.header .hamburger-btn span{
    display: block;
    height: 1px;
    width: 16px;
    background-color: #fff;
    position: relative;
}

.header.fixed .hamburger-btn {
    border-color: #000;
    background-color: white;
}
.header.fixed .hamburger-btn span:after,
.header.fixed .hamburger-btn span:before,
.header.fixed .hamburger-btn span{
    background-color: #000;
}

.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #fff;
}

.header .hamburger-btn span:before{
    top: -6px;
}

.header .hamburger-btn span:after{
    top: 6px;
}







/* HOME SECTION */
.home-section{
    min-height: 100vh;
    position: relative;
}

.home-section .slide{
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in-out
}

.home-section .slide.active{
    opacity: 1;
    visibility: visible;
}

.home-section .slide:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.home-section .row {
    min-height: 100vh;
}

.home-section .home-content{
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
    text-align: center;
}

.home-section .home-content p {
    font-size: 24px;
    color: #fff;
    margin: 0 0 15px;
}

.home-section .slide.active .home-content p{
    animation: fadeInTop 1s ease forwards;
    opacity: 0;
}

@keyframes fadeInTop {
    0% {
        transform: translateY(-50px)
    }

    100%{
        opacity: 1;
        transform:translateY(0px)
    }
}

.home-section .home-content h1{
    font-size: 80px;
    color: #fff;
    margin: 0;
    font-weight: normal;
    font-family: 'Vibur', cursive;
}

.home-section .slide.active .home-content h1{
    animation: fadeInTop 1s ease forwards;
    opacity: 0;
    animation-delay: 0.5s;
}

.home-section .home-content span{
    font-size: 20px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 7px 30px;
    margin: 15px 0 0 
}

.home-section .slide.active .home-content span{
    animation: fadeInTop 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;
}


/* COUPLE SECTION */

.couple-section{
    padding: 80px 0 0;
}

.couple-section .couple{
    flex: 0 0  50%;
    max-width: 50%;
    text-align: center;
    padding: 0 60px;
    position: relative;
}

.couple-section .couple:nth-child(2):before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #ccc;
}

.couple-section .couple i.fa-heart{
    position: absolute;
    left: -15px;
    width: 31px;
    background-color: #f3f2f1;
    padding: 5px;
    text-align: center;
    top: 30%;
    font-size: 18px;
}

.couple-section .couple img{
    max-width: 280px;
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}

.couple-section .couple h3{
    font-size:40px;
    margin: 15px 0;
    font-family: 'Vibur', cursive;
    font-weight: normal;
    letter-spacing: 2px;
}

.couple-section .couple p{
    font-size: 16px;
    line-height: 26px;
    color: #555;
    margin: 0;
}

.couple-section .social-links{
    padding-top: 30px;
}
.couple-section .social-links a {
    display: inline-block;
    margin: 0 3px;
}

.couple-section .social-links a i {
    height: 32px;
    width: 32px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 30px;
    display: block;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.couple-section .social-links a:hover i {
    color: #f3f2f1;
}


/* Story Section */

.story-section {
    padding: 80px 0 0;
    margin-bottom: 50px;
}

.story-section .story-content{
    flex:0 0 100%;
    max-width: 100%;
    position: relative;

}

.story-section .story-content:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #ccc;
}

.story-section .story-item i{
    position: absolute;
    left: 50%;
    text-align: center;
    padding: 5px;
    margin-left: -15px;
    width: 31px;
    background-color: #f3f2f1;
    font-size: 18px;
}

.story-section .story-item {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.story-section .story-item:last-child{
    margin-bottom: 0;
}

.story-section .story-item:nth-child(even){
    flex-direction: row-reverse;
}

.story-section .story-item:nth-child(odd) .story-text{
    padding: 0 60px 0 15px;
    text-align: right;
}

.story-section .story-item:nth-child(odd) .story-text h3{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50%;
    width: 50%;
    background-color: #DD666C;
    text-align: center;
}
.story-section .story-item:nth-child(even) .story-text h3{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 50%;
    width: 50%;
    background-color: #63C7BD;
    text-align: center;
    color: #f3f2f1;
}

.story-section .story-item:nth-child(odd) .story-img{
    padding: 0 15px 0 60px;
}

.story-section .story-item:nth-child(even) .story-text{
    padding: 0 15px 0 60px;
}

.story-section .story-item:nth-child(even) .story-img{
    padding: 0 60px 0 15px;
}


.story-section .story-text,
.story-section .story-img{
    flex: 0 0 50%;
    max-width: 50%;
}

.story-section .story-text h3{
    color: #F1F1F1;
    font-size: 25px;
    margin: 0 0 8px;
    font-weight: 500;
    text-transform: capitalize;
}
.story-section .story-text span.date{
    font-size: 15px;
    font-weight: 700;
    color: #555;
    margin: 0 0 15px;
    display: block;
    text-transform: capitalize;
}

.story-section .story-text p{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    color: #818181;
    padding: 20px;
    background-color: #c7c6c1;
}



/* Event section */

.event-section{
    padding: 80px 0 130px;
    margin-bottom: 50px;
}   

.event-section .section-title h2{
    color: #fff;
}

.event-section .section-title .border{
    background: #fff;
}

.event-section .event-item{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.event-section .event-item:nth-child(2){
    transform:translateY(50px)
}

.event-section .event-item-inner{
    background-color: #fff;
    padding-top: 60px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0 0 10px #888888;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.event-section .event-item-inner::before{
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid transparent;
    z-index: -1;
}

.event-section .event-item-inner h3{
    color: #000;
    font-weight: 500;
    font-size: 24px; 
    margin: 0 0 15px; 
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    display: inline-block;
}

.event-section .event-item-inner span{
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.event-section .event-item-inner span.time{
    margin-bottom: 15px;
}

.event-section .event-item-inner p{
    font-size: 16px;
    line-height: 26px;
    color: #555;
    margin: 0;
}

.event-section .event-item-inner img{
    padding-top: 30px;
    
}


/* Our Memories section */

.gallery-section{
    width: 100%;
    padding: 60px 0;
    background: #F1F1F1;
}

.inner-width{
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}

.border{
    width: 180px;
    height: 4px;
    background: #333;
    margin: 60px auto;
}

.gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img{
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gallery-section .image:hover img{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}





/* Our Family section */

.family-section{
    padding: 80px 0 80px;
}

.family-section .container{
    max-width: 80%;
}
.members-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.member-image{
    align-items: center;
    justify-content: center;
}

.single-member{
    width: 30%;
    border: 10px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
    margin-bottom: 20px;
}

.family-info h3, .family-info p{
    text-align: center;
    line-height: 2.5;
    font-size: 16px;
}








/* RSVP section */

.rsvp-section{
    padding: 80px 0 80px;
}

input[type="text"],select {
    background-color : #E6ECEB; 
    width: 100%;

	height: 45px;
	font-size: 16px;
	border: 0;
	color: #222222;
	padding: 6px 15px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

textarea{
    background-color : #E6ECEB; 
    width: 100%;
	font-size: 16px;
	border: 0;
	color: #222222;
	padding: 6px 15px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.input-group{
    padding-left: 10%;
    padding-right: 10%;
	padding-top: 15px;
}

.btn-1{
    background-color: #63C7BD;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-1:hover{
    background-color: #DD666C;
    transition: all 0.5s ease ;
}

.btn:focus{
    outline: none;
}



/* Responsive */


@media screen and (max-width: 960px) {
    .gallery-section .image{
        flex: 33.33%;
    }
    .header .logo{
        padding: 8px 15px;
    }

    .header .hamburger-btn{
        display: flex;
        margin-right: 15px;
    }

    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color:pink;
        clip-path: circle(100px at 90% -40%);
        -webkit-clip-path: circle(100px at 90% -40%);
        transition: all 1s ease-out;
    }

    .header .nav.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }



    .header .nav ul li{
        display: block;
        margin-left: 0;
    }

    .header .nav ul li a{
        color: #555;

    }

    #row-mobile{
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 768px) {
    .gallery-section .image{
        flex: 50%;
    }
    .single-member{
        width: 49%;
    }
    .family-info h4, .family-info p{
        font-size: 12px;
        line-height: 2;
    }
    .family-section .container{
        max-width: 90%;
    }

    .home-section .home-content h1{
        font-size: 60px;
    }

    .couple-section .couple{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }

    .couple-section .couple:nth-child(2){
        margin-top: 50px;
    }

    .couple-section .couple:nth-child(2):before{
        content: none;
    }

    .couple-section .couple i.fa-heart{
        display: none;
    }

   
    .story-section .story-text, .story-section .story-img{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .story-section .story-item:nth-child(odd) .story-text{
        padding: 0 60px 0 60px;
        text-align: left;
    }

    .story-section .story-item:nth-child(even) .story-img{
        padding: 0 150px 0 15px;
    }

    .story-sectino .story-img{
        margin-top: 20px;
    }

    .story-section .story-content:before{
        left: 20px;
    }

    .story-section .story-item i{
        margin-left: 0px;
        left: 5px;
    }

    .story-section .story-item:nth-child(odd) .story-text h3{
        margin-left: 0;
    }

    .story-section .story-item:nth-child(even) .story-img{
        padding: 0 15px 0 60px;
    }

    .story-section .story-item:nth-child(2n+1) .story-text h3 {
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: transparent;
        color: #dd666c;
        text-align: left;
    }
    .story-section .story-item:nth-child(even) .story-text h3{
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: transparent;
        color: #63C7BD;
        text-align: left;
    }

    .story-section .story-item:nth-child(2n+1) .story-text{
        padding-right: 15px;
    }

   
}

@media screen and (max-width: 480) {
    .gallery-section .image{
        flex: 100%;
    }
    .family-section .container{
        max-width: 100%;
    }

   
    
}

